.author{
    border: var(--border);
    margin: 2rem 0;
    width: 25rem;
    position: relative;
    text-align: center;
}

.author:hover{
    border-color: var(--dark-orange);
    .NyamNyam{
        background-color: var(--orange);
    }
    h3,p{
        color: black;
    }
}

.author h3{
    color: #333;
    margin-bottom: 5px;
}

.author p{
    margin: 0;
    color: #666;
}

.author hr{
    margin-top: 10px;
}

.authorContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

img{
    border-radius: 50%;
}

.NyamNyam{
    background-color: #e9e6e6;
}