@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange: #ef923a;
    --dark-orange: #c2752d;
    --black:#444;
    --light-color:#666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0.1);
}

*{
    font-family: 'Poppins',sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .search-form{
    width: 50rem;
    height:5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    display: flex;
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
}

.header .header-1 .search-logo-solo{
    display: none;
}

.header .header-2{
    background: var(--orange);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background-color: var(--dark-orange);
}

.header .header-2.active{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.mobile-navbar{
    text-align: center;
    background: var(--orange);
    position: fixed;
    bottom: 0;right: 0;left: 0;
    z-index: 1000;
    display: none;
}

.mobile-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.mobile-navbar a:hover{
    background: var(--dark-orange);
}

.home{
    background-color: #e9e6e6;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .book-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .book-slider a img{
    height: 25rem;
}

.home .row .book-slider a:hover img{
    transform: scale(.9);
}

.home .row .content h3{
    color:var(--black);
    font-size:4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size:1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.home .row .content{
    text-align: center;
}

section{
    padding:5rem 9%;
}

.TBestheader{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.TBestheader::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width:100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.TBestheader span{
    font-size: 3rem;
    padding: 2rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background: var(--orange);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--dark-orange);
}

.best-books .best-slider .book{
    width: 25rem;
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.best-books .best-slider .book:hover{
    border:var(--border-hover);
}

.best-books .best-slider .book .image img{
    height: 25rem;
}

.best-books .best-slider .book .content{
    background: #eee;
    padding: var(--black);
}

.best-books .best-slider .book .content h3{
    font-size: 2rem;
    color: var(--black);
}

.best-books .best-slider .book .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.swiper-button-next::after, 
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover, 
.swiper-button-prev:hover{
    background: var(--black);
    color: #fff;
}

.reviews .reviews-slider .client{
    width: 30rem;
    border:var(--border);
    padding: 2rem;
    text-align: center;
}

.reviews .reviews-slider .client:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .client img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .client h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .client p{
    color: var(--black);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding:2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px){
    .header .header-1{
        padding: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
        position:absolute;
        top:-115%;right: 2rem;
        padding: var(--box-shadow);
    }
    .header .header-1 .search-logo-solo {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7rem;
    }

    .header .header-2{
        display: none;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;;
    }

    .mobile-navbar{
        display: block;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .header .header-1 .search-logo-solo {
        display: block;
    }
}



footer{
    background-color: #121315;
    color: #a7a7a7;
    font-size: 1.3rem;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    li:not(:first-child){
        margin-top: 0.8em;
    }

    ul li a{
        color: #a7a7a7;
        text-decoration: none;
    }

    ul li a:hover{
        color: var(--orange);
    }

    .about p{
        text-align: justify;
        line-height: 2;
        margin: 0;
    }

    .icon-links{
        text-align: center;
    }
}

footer*{
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row{
    padding: 1em 1em;
}

.row.primary{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
}

.column-links{
    margin-top: 7%;
}

.copyright p{
    font-size: 0.9em;
    text-align: right;
}

.column{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
}