.home{
    background-image: url(../image/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .book-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .book-slider a img{
    height: 25rem;
}

.home .row .book-slider a:hover img{
    transform: scale(.9);
}

.home .row .content h3{
    color: #c1b123;
    font-size:4.5rem;
}

.home .row .content p{
    color:#949090;
    font-size:1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.home .row .content p:hover{
    color: #eee;
}

.home .row .content{
    text-align: center;
}

section{
    padding:5rem 9%;
}

.TBestheader{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.TBestheader::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width:100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.TBestheader span{
    font-size: 3rem;
    padding: 2rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.best-books .best-slider .book{
    width: 25rem;
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.best-books .best-slider .book:hover{
    border:var(--border-hover);
}

.best-books .best-slider .book .image img{
    height: 25rem;
}

.best-books .best-slider .book .content{
    background: #eee;
    padding: var(--black);
}

.best-books .best-slider .book .content h3{
    font-size: 2rem;
    color: var(--black);
}

.best-books .best-slider .book .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.swiper-button-next::after, 
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover, 
.swiper-button-prev:hover{
    background: var(--black);
    color: #fff;
}

.reviews .reviews-slider .client{
    width: 30rem;
    border:var(--border);
    padding: 2rem;
    text-align: center;
}

.reviews .reviews-slider .client:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .client img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .client h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .client p{
    color: var(--black);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}